/*================================ 
    #RESPONSIVE CSS 
====================================*/

/* Extra large: large desktops, 1200px and up*/
@media (min-width: 1200px) {  }

/* large device: desktops, 992px and up*/

@media (min-width: 992px) and (max-width: 1199.98px) { 

    
    
 }

/* Tablet Layout: 768px.*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* About Responsive */

    .about-one-content {
    margin-top: 29px;
}

/* Funfact Rsponsive */

.funfact-style-one-item {
    margin-top: 34px;
}

}

/* MObile Layout: 576px.*/

@media (min-width: 576px) and (max-width: 767.98px) { 

    /* Banner Responsive */

    .banner-style-one-item h1 {
    font-size: 50px;
    font-weight: 700;
}

/* Funfact Rsponsive */

.funfact-style-one-item {
    margin-top: 34px;
}

}

/* MObile Layout: 576px.*/
@media (max-width: 575.98px) { 

/* Banner Responsive */
    
    .banner-style-one-item h1 {
    font-size: 45px;
    font-weight: 700;
}

.about-one-content .btn-theme {
    margin-bottom: 10px;
}

.about-one-content h3 {
    font-size: 40px;
    font-weight: 700;
}

/* Service Responsive */

.service-one-item {
    text-align: center;
}

/* Funfact Rsponsive */

.funfact-style-one-item {
    margin-top: 34px;
}

.funfact-style-one-item .funfact h2 {
    font-size: 44px;
}

}